Repository CrossNox/7574-TP2: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, flake8, isort, mypy

pylint:
  name: pylint
  entry: poetry run pylint rma tests
  language: system

black:
  name: black
  entry: poetry run black rma tests
  language: system

flake8:
  name: flake8
  entry: poetry run flake8 rma tests
  language: system

isort:
  name: isort
  entry: poetry run isort rma tests
  language: system

mypy:
  name: mypy
  entry: poetry run mypy
  language: system

add notebook
  .gitignore
  notebooks/Explore dataset.ipynb
  poetry.lock
  pyproject.toml
Due: none

explore data further
  notebooks/Explore dataset.ipynb
Due: none

initial dag
  CHANGELOG.md
  pyproject.toml
  rma/cli/cli.py
  rma/cli/filter.py
  rma/cli/sink.py
  rma/cli/source.py
  rma/constants.py
  rma/tasks/base.py
  rma/tasks/csv_source.py
  rma/tasks/filter_ed_comments.py
  rma/tasks/filter_nan_sentiment.py
  rma/tasks/print_sink.py
Due: pylint, black, flake8, isort, mypy

add extract post id
  CHANGELOG.md
  pyproject.toml
  rma/cli/cli.py
  rma/cli/transform.py
  rma/tasks/extract_post_id.py
Due: pylint, black, flake8, isort, mypy

add nan filter
  CHANGELOG.md
  pyproject.toml
  rma/cli/filter.py
  rma/tasks/filter_nan_sentiment.py
Due: pylint, black, flake8, isort, mypy

add calculate mean sentiment
  CHANGELOG.md
  pyproject.toml
  rma/cli/transform.py
  rma/tasks/base.py
  rma/tasks/mean_sentiment.py
Due: pylint, black, flake8, isort, mypy

filter unique posts
  CHANGELOG.md
  pyproject.toml
  rma/cli/filter.py
  rma/tasks/base.py
  rma/tasks/filter_uniq_posts.py
Due: pylint, black, flake8, isort, mypy

add filter columns
  CHANGELOG.md
  pyproject.toml
  rma/cli/transform.py
  rma/tasks/filter_columns.py
Due: pylint, black, flake8, isort, mypy

add filter null url posts
  CHANGELOG.md
  pyproject.toml
  rma/cli/filter.py
  rma/tasks/filter_ed_comments.py
  rma/tasks/filter_null_url.py
Due: pylint, black, flake8, isort, mypy

calculate posts score mean
  CHANGELOG.md
  pyproject.toml
  rma/cli/transform.py
  rma/tasks/score_mean.py
Due: pylint, black, flake8, isort, mypy

add filter posts with score above mean
  CHANGELOG.md
  pyproject.toml
  rma/cli/filter.py
  rma/tasks/filter_above_score.py
Due: pylint, black, flake8, isort, mypy

refactor
  poetry.lock
  pyproject.toml
  rma/cli/sink.py
  rma/cli/source.py
  rma/tasks/base.py
  rma/tasks/csv_source.py
  rma/tasks/executor.py
  rma/tasks/extract_post_id.py
  rma/tasks/filter_above_score.py
  rma/tasks/filter_columns.py
  rma/tasks/filter_ed_comments.py
  rma/tasks/filter_nan_sentiment.py
  rma/tasks/filter_null_url.py
  rma/tasks/filter_uniq_posts.py
  rma/tasks/filters.py
  rma/tasks/mean_sentiment.py
  rma/tasks/print_sink.py
  rma/tasks/score_mean.py
  rma/tasks/sinks.py
  rma/tasks/sources.py
  rma/tasks/transforms.py
Due: pylint, black, flake8, isort, mypy

moar refactor
  rma/cli/cli.py
  rma/cli/filter.py
  rma/cli/sink.py
  rma/cli/source.py
  rma/cli/transform.py
  rma/cli/ventilate.py
  rma/tasks/base.py
  rma/tasks/sinks.py
  rma/tasks/sources.py
Due: pylint, black, flake8, isort, mypy

bump
  CHANGELOG.md
  pyproject.toml
Due: none

deps
  rma/tasks/base.py
  rma/tasks/executor.py
  rma/tasks/sinks.py
Due: pylint, black, flake8, isort, mypy

simple test
  rma/tasks/base.py
  rma/tasks/sinks.py
  rma/tasks/sources.py
  tests/resources/comments.csv
  tests/resources/posts.csv
  tests/test_rma.py
  tests/test_simple_dag.py
Due: pylint, black, flake8, isort, mypy

test to check whether deps solving should work
  zmq_tests/delayed_client/README.md
  zmq_tests/delayed_client/pub.py
  zmq_tests/delayed_client/sub1.py
  zmq_tests/delayed_client/sub2.py
Due: pylint, black, flake8, isort

bump
  CHANGELOG.md
Due: none

new test and fixes
  rma/tasks/base.py
  rma/tasks/filters.py
  rma/tasks/transforms.py
  tests/test_deps.py
  tests/test_simple_dag.py
Due: pylint, black, flake8, isort, mypy

bump
  CHANGELOG.md
  rma/tasks/sources.py
Due: pylint, black, flake8, isort, mypy

poc joiner
  zmq_tests/multpub/README.md
  zmq_tests/multpub/pub1.py
  zmq_tests/multpub/pub2.py
  zmq_tests/multpub/sub1.py
Due: pylint, black, flake8, isort

improve poc
  zmq_tests/multpub/sub1.py
Due: pylint, black, flake8, isort

barebones joiner
  rma/tasks/base.py
  rma/tasks/joiners.py
Due: pylint, black, flake8, isort, mypy

join test
  rma/tasks/joiners.py
  tests/resources/test1.csv
  tests/resources/test2.csv
  tests/test_join.py
  zmq_tests/multpub/pub2.py
Due: pylint, black, flake8, isort, mypy

joiners
  CHANGELOG.md
  pyproject.toml
  rma/cli/cli.py
  rma/cli/join.py
Due: pylint, black, flake8, isort, mypy

add filter clis
  CHANGELOG.md
  pyproject.toml
  rma/cli/filter.py
Due: pylint, black, flake8, isort, mypy

add sinks clis
  CHANGELOG.md
  pyproject.toml
  rma/cli/sink.py
Due: pylint, black, flake8, isort, mypy

transforms clis
  CHANGELOG.md
  pyproject.toml
  rma/cli/transform.py
Due: pylint, black, flake8, isort, mypy

dockerfile
  docker/Dockerfile
Due: none

add request
  poetry.lock
  pyproject.toml
Due: none

add post download sink
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  rma/cli/sink.py
  rma/tasks/sinks.py
  rma/tasks/transforms.py
Due: pylint, black, flake8, isort, mypy

docker fix
  docker/Dockerfile
  docker/docker-compose.yaml
Due: none

minimal dag
  rma/dag/dag.py
Due: pylint, black, flake8, isort, mypy

minimal dag
  poetry.lock
  pyproject.toml
Due: none

make command to build image
  Makefile
Due: none

verbosity
  docker/Dockerfile
Due: none

improve dag
  rma/dag/dag.py
Due: pylint, black, flake8, isort, mypy

cli fixes
  rma/cli/filter.py
  rma/cli/join.py
  rma/cli/transform.py
Due: pylint, black, flake8, isort, mypy

Path conditions:
  pylint: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: tests/*
